<div class="container mt-4">
  <h1 class="mb-4"><%= @game.name %></h1>

  <div class="card mb-3">
    <div class="card-body">
      <p><strong><%= 'Created At:' %></strong> <%= @game.created_at %></p>
      <p><strong><%= 'Updated At:' %></strong> <%= @game.updated_at %></p>
    </div>
  </div>

  <%= link_to 'Edit', edit_game_path(@game), class: "btn btn-outline-secondary me-2" %>
  <%= link_to 'Back', games_path, class: "btn btn-outline-primary" %>
</div>
