<%= form_with(model: player, local: true, html: { class: "needs-validation" }) do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mt-4">
    <%= form.submit class: "btn btn-success" %>
    <%= link_to "Cancel", players_path, class: "btn btn-secondary ms-2" %>
  </div>
<% end %>
